<!DOCTYPE html>
{% extends "main/base.html" %}

{% load static %}

{% block main_work %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Hello there welcome </h2>
        <form action="/" class="inline-form mb-3" method="post">
            {% csrf_token %}
            {{form.title}}<br>
            <input type="submit" value="Create Task" class="btn btn-sm btn-primary mt-2">
        </form>
        {% for task in tasks %}
        <ul class="list-group">
            <li class="list-group-item">{{task}}</li>
        </ul>
        {% endfor  %}
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock main_work %}